{% extends "biblioteca/base.html" %}

{% block title %}Questões — Biblioteca{% endblock %}

{% block content %}
<div class="card">
    <h2>Questões</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Questão</th>
                <th>Resposta</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Questão 1: </td>
                <td>{{ q1 }}</td>
            </tr>
            <tr>
                <td>Questão 2:</td>
                <td>{{ q2 }}</td>
            </tr>
            <tr>
                <td>Questão 3:</td>
                <td>{{ q3 }}</td>
            </tr>
            <tr>
                <td>Questão 4:</td>
                <td>{{ q4 }}</td>
            </tr>
            <tr>
                <td>Questão 5:</td>
                <td>{{ q5 }}</td>
            </tr>
            <tr>
                <td>Questão 6:</td>
                <td>{{ q6 }}</td>
            </tr>
            <tr>
                <td>Questão 7:</td>
                <td>{{ q7 }}</td>
            </tr>
            <tr>
                <td>Questão 8:</td>
                <td>{{ q8 }}</td>
            </tr>
            <tr>
                <td>Questão 9:</td>
                <td>{{ q9 }}</td>
            </tr>
            <tr>
                <td>Questão 10:</td>
                <td>{{ q10 }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
